<?xml version="1.0" encoding="utf-8"?>
<!--<?xml version="1.0" encoding="utf-8"?>-->
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <!--<packages>
		<package id="Microsoft.NETFramework.ReferenceAssemblies" version="1.0.3" developmentDependency="true" />
	</packages>
	<ItemGroup>
		<PackageReference Include="Microsoft.NETFramework.ReferenceAssemblies" Version="1.0.3" PrivateAssets="All" />
	</ItemGroup>-->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="HOST" value="smtp.gmail.com" />
    <add key="PORT" value="587" />
    <add key="FROMMAIL" value="donotreplyfk@gmail.com" />
    <add key="OGPassword" value="rhxhnaoizpkemuqv" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="donotreplyfk@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="donotreplyfk@gmail.com" password="rhxhnaoizpkemuqv" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>

	  <!--<add name="ConnectionString"  connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =103.104.58.114)(PORT =1521)))(CONNECT_DATA =(SERVICE_NAME =lo01p)));User ID=LOVELYPAYROLL;Password=LOVELYPAYROLLJUL2022;,LOPPL,M,LOPPL,C"/>
	  <add name="ConnectionString1" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =103.104.58.114)(PORT =1521)))(CONNECT_DATA =(SERVICE_NAME =lo01p)));User ID=LOVELYPAYROLL;Password=LOVELYPAYROLLJUL2022;,LOPPL,M,LOPPL,C"/>-->

	  <!--<add name="ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =avt05p)));User ID=PSSVSC;Password=PSSVSC_NOV2024;,VSP,VSP,VSP,C"/>
	  <add name="ConnectionString1" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =avt05p)));User ID=PSSVSC;Password=PSSVSC_NOV2024;,VSP,VSP,VSP,C"/>-->

	  <add name="ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =192.168.100.76)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =an01p)));User ID=TIPLAGF;Password=TIPLAGF555;,AGF,M,AGF,C" />
	  <add name="ConnectionString1" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =192.168.101.175)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =an01p)));User ID=PSSPAYROLL;Password=PSSPAYROLL_OCT2024;,AGF,M,AGF,C" />
	  
	  <!--<add name="ConnectionString"  connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =avt05p)));User ID=PSSFK;Password=PSSFK_JUL2023;,UNIT5,UNIT5,UNIT5,C"/>
	  <add name="ConnectionString1" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =avt05p)));User ID=PSSFK;Password=PSSFK_JUL2023;,UNIT5,UNIT5,UNIT5,C"/>-->

	  <!--<add name="ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1556)))(CONNECT_DATA =(SERVICE_NAME =avt06p)));User ID=PSSBSA;Password=PSSBSA_MAY2023;,BVK,M,BVK,C"/>
	  <add name="ConnectionString1" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1556)))(CONNECT_DATA =(SERVICE_NAME =avt06p)));User ID=PSSBSA;Password=PSSBSA_MAY2023;,BVK,M,BVK,C"/>-->



	  <!--<add name="ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.182)(PORT =1557)))(CONNECT_DATA =(SERVICE_NAME =avt07p)));User ID=PSSGGF;Password=PSSGGF_JUN2025;,GGFHO,M,GGFHO,C"/>
	  <add name="ConnectionString1" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.182)(PORT =1557)))(CONNECT_DATA =(SERVICE_NAME =avt07p)));User ID=PSSGGF;Password=PSSGGF_JUN2025;,GGFHO,M,GGFHO,C"/>-->



	  <!--<add name="ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.182)(PORT =1557)))(CONNECT_DATA =(SERVICE_NAME =avt07p)));User ID=PSSGGF;Password=PSSGGF_JUN2025;,GGF,M,GGF,C"/>
	  <add name="ConnectionString1" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.182)(PORT =1557)))(CONNECT_DATA =(SERVICE_NAME =avt07p)));User ID=PSSGGF;Password=PSSGGF_JUN2025;,GGF,M,GGF,C"/>-->
	  <!--<add name="ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =192.168.100.189)(PORT =1521)))(CONNECT_DATA =(SERVICE_NAME =xe)));User ID=pssagfsample;Password=log;,AGF,pssagfsample,AGF,C" />
	  <add name="ConnectionString1" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =192.168.100.189)(PORT =1521)))(CONNECT_DATA =(SERVICE_NAME =xe)));User ID=pssagfsample;Password=log;,AGF,pssagfsample,AGF,C" />-->	
	  <!--<add name="ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =192.168.100.76)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =an01p)));User ID=TIPLAGF;Password=TIPLAGF555;,AGFM,G,AGFM,C" />-->
	 

	  <!--<add name="ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =avt05p)));User ID=PSSFK;Password=PSSFK_JUL2023;,FK,M,FK,C"/>
		<add name="ConnectionString1" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =avt05p)));User ID=PSSFK;Password=PSSFK_JUL2023;,FK,M,FK,C"/>-->


	    <!--<add name="ConnectionString1"  connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1555)))(CONNECT_DATA=(SERVICE_NAME =avt05p)));User ID=PSSMGI;Password=PSSMGI_NOV2024;,MGI,M,MGI,C"/>
		<add name="ConnectionString"  connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1555)))(CONNECT_DATA=(SERVICE_NAME =avt05p)));User ID=PSSMGI;Password=PSSMGI_NOV2024;,MGI,M,MGI,C"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.182)(PORT =1557)))(CONNECT_DATA =(SERVICE_NAME =avt07p)));User ID=PSSGGF;Password=PSSGGF_JUN2025;,GGFHO,M,GGFHO"/>
		<add name="ConnectionString1" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.182)(PORT =1557)))(CONNECT_DATA =(SERVICE_NAME =avt07p)));User ID=PSSGGF;Password=PSSGGF_JUN2025;,GGFHO,M,GGFHO"/>-->

    <!--<add name="ConnectionString"  connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =avt05p)));User ID=PSSITC;Password=PSSITC_DEC2023;,VQUBE,M,VQUBE"/>
		<add name="ConnectionString1"  connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =avt05p)));User ID=PSSITC;Password=PSSITC_DEC2023;,VQUBE,M,VQUBE"/>-->
    <!--<add name="ConnectionString"  connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =avt05p)));User ID=PSSSFA;Password=PSSSFA_MAR2025;,SFA,M,SFA"/>
		<add name="ConnectionString1"  connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =avt05p)));User ID=PSSSFA;Password=PSSSFA_MAR2025;,SFA,M,SFA"/>-->
    <!--<add name="ConnectionString1" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =192.168.101.175)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =an01p)));User ID=PSSPAYROLL;Password=PSSPAYROLL_OCT2024;,AGF,m,AGF,C" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =avt05p)));User ID=PSSTLT;Password=PSSTLT_16JUNE2025;,TLT,M,TLT"/>
		<add name="ConnectionString1" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =avt05p)));User ID=PSSTLT;Password=PSSTLT_16JUNE2025;,TLT,M,TLT" />-->
    <!--<add name="ConnectionString1" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =192.168.101.175)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =an01p)));User ID=PSSPAYROLL;Password=PSSPAYROLL_OCT2024;,FLFD,M,FLFD"/>
		<add name="ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =192.168.100.76)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =an01p)));User ID=TIPLAGF;Password=TIPLAGF555;,FLFD,M,FLFD"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =avt05p)));User ID=PSSMGI;Password=PSSMGI_NOV2024;,MGI,MGI"/>
		<add name="ConnectionString1" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PO-->
    <!--<add name="ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =avt05p)));User ID=PSSSPIKE;Password=PSSSPIKE_MAY2023;,SPK,M,SPK"/>
        <add name="ConnectionString1" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =avt05p)));User ID=PSSSPIKE;Password=PSSSPIKE_MAY2023;,SPK,M,SPK"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =avt05p)));User ID=PSSSPIKE;Password=PSSSPIKE_MAY2023;,SPK,M,SPK"/>
		<add name="ConnectionString1" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =avt05p)));User ID=PSSSPIKE;Password=PSSSPIKE_MAY2023;,SPK,M,SPK"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =154.61.80.18)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =sp01p)));User ID=pssspike;Password=PSSSPIKE_JAN2023;,SPK,SPK"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =avt05p)));User ID=PSSVSC;Password=PSSVSC_NOV2024;,VSP,VSP,VSP,C"/>
		<add name="ConnectionString1" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =avt05p)));User ID=PSSVSC;Password=PSSVSC_NOV2024;,VSP,VSP,VSP,C"/>-->

	  <!--<add name="ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =59.92.62.121)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =avt05p)));User ID=PSSVSC;Password=PSSVSC_NOV2024;,VSP,VSP,VSP,C"/>
	  <add name="ConnectionString1" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =59.92.62.121)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =avt05p)));User ID=PSSVSC;Password=PSSVSC_NOV2024;,VSP,VSP,VSP,C"/>-->

	  

	  <!--<add name="ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =avt05p)));User ID=PSSSELVAS;Password=PSSSELVAS_MAY2023;,SELHO,M,SELHO"/>
		<add name="ConnectionString1" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =avt05p)));User ID=PSSSELVAS;Password=PSSSELVAS_MAY2023;,SELHO,M,SELHO"/>-->
    <!--<add name="ConnectionString1"  connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =avt05p)));User ID=PSSCAS;Password=PSSCAS_SEP2023;,CAS,M,CAS"/>
		<add name="ConnectionString"  connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =avt05p)));User ID=PSSCAS;Password=PSSCAS_SEP2023;,CAS,M,CAS"/>-->

    <!--<add name="ConnectionString1" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1556)))(CONNECT_DATA =(SERVICE_NAME =avt06p)));User ID=PSSBSA;Password=PSSBSA_MAY2023;,BSA,M,BSA" />
		<add name="ConnectionString"  connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1556)))(CONNECT_DATA =(SERVICE_NAME =avt06p)));User ID=PSSBSA;Password=PSSBSA_MAY2023;,BSA,M,BSA"/>-->
    <!--<add name="ConnectionString1" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =192.168.100.76)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =an01p)));User ID=TIPLAGF;Password=TIPLAGF555;,AGFMGII,M,AGFMGII"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =192.168.100.76)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =an01p)));User ID=TIPLAGF;Password=TIPLAGF555;,AGF,M,AGF"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =avt05p)));User ID=PSSSARR;Password=PSSSARR_NOV2023;,PSS,PSS"/>
		<add name="ConnectionString1" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =avt05p)));User ID=PSSSARR;Password=PSSSARR_NOV2023;,PSS,PSS"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1556)))(CONNECT_DATA =(SERVICE_NAME =avt06p)));User ID=PSSBSA;Password=PSSBSA_MAY2023;,BSA,BSA"/>
		<add name="ConnectionString1" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1556)))(CONNECT_DATA =(SERVICE_NAME =avt06p)));User ID=PSSBSA;Password=PSSBSA_MAY2023;,BSA,BSA"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =192.168.100.76)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =an01p)));User ID=TIPLAGF;Password=TIPLAGF555;,AGFM,M,HOSTEL"/>-->
    <!--<add name="ConnectionString1" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =192.168.101.175)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =an01p)));User ID=PSSPAYROLL;Password=PSSPAYROLL_APR2023;,AGFM,M,AGFM"/>
		<add name="ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =192.168.100.76)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =an01p)));User ID=TIPLAGF;Password=TIPLAGF555;,AGFM,M,AGFM"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =165.22.220.128)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =NYL01P)));User ID=PSSSKL;Password=PSSSKLAUG2022;,SKLCPS,SKLCPS"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1556)))(CONNECT_DATA =(SERVICE_NAME =avt06p)));User ID=PSSBSA;Password=PSSBSA_MAY2023;,BVK,BVK"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =192.168.100.189)(PORT =1521)))(CONNECT_DATA =(SERVICE_NAME =xe)));User ID=pssagfsample;Password=log;,AGF,M"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =165.22.220.128)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =NYL01P)));User ID=PSSSKL;Password=PSSSKLAUG2022;,UNIT1,UNIT1"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =154.61.80.18)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =sp01p)));User ID=pssselvas;Password=PSSSELVAS_JAN2023;,SELHO,SELHO"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =154.61.80.18)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =sp01p)));User ID=PSSSPIKE;Password=PSSSPIKE_JAN2023;,SPK,SPK"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =139.59.84.186)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =bs01p)));User ID=PSSBSA;Password=PSSBSA555;,BSA,BSA"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =154.61.80.18)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =sp01p)));User ID=PSSSPIKE;Password=PSSSPIKE_JAN2023;,SPK,SPK"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =165.22.220.128)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =NYL01P)));User ID=PSSSKL;Password=PSSSKLAUG2022;,SKL,SKL"/>-->
    <!--<add name="ConnectionString1" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =192.168.100.76)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =an01p)));User ID=TIPLAGF;Password=TIPLAGF555;,VEL,M,VEL"/>
		<add name="ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =192.168.100.76)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =an01p)));User ID=TIPLAGF;Password=TIPLAGF555;,VEL,M,VEL"/>-->
    <!--<add name="ConnectionString_175" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =192.168.101.175)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =an01p)));User ID=PSSPAYROLL;Password=PSSPAYROLL_APR2023;,AGF,M,AGF"/>
		<add name="ConnectionString_76" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =192.168.100.76)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =an01p)));User ID=TIPLAGF;Password=TIPLAGF555;,AGF,M,AGF"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =avt05p)));User ID=PSSSPE;Password=PSSSPE_SEP2024;,SPE,SPE"/>
		<add name="ConnectionString1" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =avt05p)));User ID=PSSSPE;Password=PSSSPE_SEP2024;,SPE,SPE"/>-->

    <!--<add name="ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =avt05p)));User ID=PSSFK;Password=PSSFK_JUL2023;,UNIT3,UNIT3,Canteen" />
		<add name="ConnectionString1" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =avt05p)));User ID=PSSFK;Password=PSSFK_JUL2023;,UNIT3,UNIT3,Canteen" />-->

    <!--<add name="ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =avt05p)));User ID=PSSTLT;Password=PSSTLT_16JUNE2025;,TLT,M,TLT"/>
		<add name="ConnectionString1" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST =203.95.216.155)(PORT =1555)))(CONNECT_DATA =(SERVICE_NAME =avt05p)));User ID=PSSTLT;Password=PSSTLT_16JUNE2025;,TLT,M,TLT"/>-->
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccD:\Pinnacle\app.configess.Client" />
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.14.0.0" newVersion="3.14.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="K4os.Compression.LZ4.Streams" publicKeyToken="2186fa9121ef231d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.6.0" newVersion="1.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MimeKit" publicKeyToken="bede1c8a46c66814" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.18.0.0" newVersion="1.18.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.DataSetConversion" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>